a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  margin-bottom: 2rem;
}

/* Nav active state */
body.home nav a.home,
body.blog nav a.blog {
  text-decoration: underline;
}

nav > a {
  margin-right: 0.5rem;
}

h1 { font-size: 2rem; }
h2 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}
h3 { font-size: 1.35rem;}

p { margin-bottom: 1.5rem; }
li { margin-bottom: 0.25rem; }
